@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap");

$primary-color: rgb(18, 211, 236);
$primary-bg: rgb(236, 239, 240);
$primary-font: "Roboto", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  margin-left: 5px;
  background-color: $primary-color;
}

body {
  // background-color: blue;
  background-color: $primary-bg;
  font-family: $primary-font;
  font-weight: 300;
}

.main {
  width: 95%;
  margin: 50px auto;
  &-title {
    font-family: $primary-font;
    font-weight: 700;
    text-align: center;
  }
}

.cont {
  margin: 20px;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #777;
}

.box-list {
  // background-color: blue;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-evenly;
}

.box {
  width: 10%;
  height: 5vh;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 0.7em;
}
.visited {
  background-color: $primary-color;
}
.starting {
  background-color: red;
}
.target {
  background-color: green;
}

.modal {
  width: 30%;
  margin: 0 auto;
  height: 9vh;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #777;
  text-align: center;
}

.form {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 700px) {
  .main-searches {
    display: flex;
    justify-content: space-evenly;
  }
  input {
    padding: 3px;
    margin-left: 3px;
    border-radius: 2px;
  }
}
